
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  height: 100%;
  overflow: auto;
}


 html {
  font-family: 'Roboto Condensed', sans-serif;
  overflow: auto;
}


main {
  width: 450px;
  margin: 140px auto auto auto;
  background-color: #f2e9dc;
  overflow: auto;
}






