

#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #595959;
  color: #e8fdff;
  padding: 0 2em 0 2em;

}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
  padding-right: 10;
}

#nav-bar .header {
  float: left;
  line-height: 2.5;
  font-size: 2em;
  color: #91c499;
}

#nav-bar .compose {
  position: relative;
  margin: 15px -15px 0 0;
  float: right;
  width: 100px;
  height: 50px;
  border-radius: 10%;
  background-color: #f2e9dc;

}

#navBtn {
  border: 2px solid #f2e9dc;
  color: grey;
}

#navBtn:hover {
  border: 2px solid #808f85;
  color: black;
}







