#line {
  border-bottom: 1px solid black;
  margin: 5px 5px 0 5px;

}


textarea[name=text] {
  width: 95%;
  margin: 15px auto 0 auto;
  display: block;
  padding: 3px 3px 3px 3px;
}

.new-tweet {
background-color: #eee;
margin: 20px 2em 0 2em;
border-radius: 2%;
width: 85%;
float: left;
}

.counter {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.submit {
  margin: 5px 0 10px 10px;
}

.redText {
  color: red;
}

.tweetContainer {

}

.tweetBox {
  border: 1px solid grey;
  margin: 20px 2em 0 2em;
  border-radius: 2%;
  width: 85%;
  float: left;
}

.tweetBox:hover {
  border: 3px solid black;
}



.tweetHeader {
  background-color: #d9d9d9;
  border-radius: 2%;

}

.userPic {
  height: 50px;
  width: 50px;
  border-radius: 8%;
  margin: 8px 0 8px 8px;
}

.tweetText {
  width: 95%;
  margin: 15px auto 0 auto;
  display: block;
  padding: 3px 3px 3px 3px;
}

.foot {
    border-top: 1px solid grey;
    margin: 5px 5px 5px 5px;

}

.atField {
  float: right;
  margin: 20px 10px 0 0;
  color:  grey;
}

.bigName {
  color: grey;
}


.fa {
  display: none;
  float: right;
  margin: 0 2px 0 0;
}


.tweetBox:hover .fa {
  display: inline;

}




