#tweetContainer {
  background-color: blue;
}


#line {
  border-bottom: 1px solid #f2e9dc;
  margin: 5px 5px 0 5px;
  color: #f2e9dc;

}


textarea[name=text] {
  width: 350px;
  margin: 15px 5px 5px 15px;
  display: block;
  padding: 3px 3px 3px 3px;
}

.new-tweet {
background-color: #808f85;
margin: 20px 2em 0 2em;
border-radius: 2%;
width: 85%;

}

.counter {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.submit {
  margin: 5px 0 10px 10px;
}

.redText {
  color: red;
  text-decoration: blink;
}


.tweetBox {
  border: 1px solid #808f85;
  margin: 20px 2em 0 2em;
  border-radius: 2%;
  width: 85%;
  float: left;
}

.tweetBox:hover {
  border: 1px solid #595959;
}



.tweetHeader {
  background-color: #91c499;
  border-radius: 2%;
  border-bottom: 1px solid #595959;

}

.userPic {
  height: 50px;
  width: 50px;
  border-radius: 8%;
  margin: 8px 0 8px 8px;
}

.tweetText {
  width: 95%;
  margin: 15px auto 0 auto;
  display: block;
  padding: 3px 3px 3px 3px;
}

.foot {
    border-top: 1px solid #595959;
    background-color: #a5ceab;
    padding: 2px 5px 2px 5px;
    size: 10px;


}

.atField {
  float: right;
  margin: 20px 10px 0 0;
  color:  grey;
}


.bigName {
  color: grey;
  margin-bottom: 10px;
  margin-left: 10px;
}


.fa {
  display: none;
  float: right;
  margin: 0 2px 0 0;
}


.tweetBox:hover .fa {
  display: inline;

}

.tweetBox:hover .atField {
  color: #595959;

}




